
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardbody{
  padding-inline: 10px;
    margin-top: 15px;
  
    border-radius: 11px;
    margin-inline: 5px;
    max-height: fit-content;
}

.cardImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.salary{
    color: var(--secondary);
    
}

.location{
    font-size: 0.875rem;
   
    border-radius: 0.313rem;
    background-color:var(--background);
    text-align: center;
    color: var(--Paragraph02);
}


.cardIcons{
    padding: 5px;
    margin: 5px;
}


.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-inline: auto;
  color: var(--Paragraph02);
  font-size: 12px;
}

.skill {
  background-color: #f6f7ff;
  border-radius: 0.5rem;
  padding: 5px 7px;
  margin: 5px;
}

.skillText {
  font-size: 12px;
margin: 0 !important; 
  color: #727272;
  
}



.maincontent{
   
   background-color: #ffff;
  
   border-radius: 10px;
  
   align-items: center;
   margin-inline: auto;
   text-align: center;
   padding-bottom: 20px;

}

.background{
  background-color:var(--background);

 height: 100%;
}



.loader {
    position: relative;
    width: 240px;
    height: 130px;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
    padding: 15px;
    background-color: #e3e3e3;
    overflow: hidden;
    z-index: 9999;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
    animation: gradient-animation_2 1.2s linear infinite;
  }
  
  .loader .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .loader .wrapper > div {
    background-color: #cacaca;
  }
  
  .loader .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .loader .button {
    display: inline-block;
    height: 32px;
    width: 75px;
  }
  
  .loader .line-1 {
    position: absolute;
    top: 11px;
    left: 58px;
    height: 10px;
    width: 100px;
  }
  
  .loader .line-2 {
    position: absolute;
    top: 34px;
    left: 58px;
    height: 10px;
    width: 150px;
  }
  
  .loader .line-3 {
    position: absolute;
    top: 57px;
    left: 0px;
    height: 10px;
    width: 100%;
  }
  
  .loader .line-4 {
    position: absolute;
    top: 80px;
    left: 0px;
    height: 10px;
    width: 92%;
  }
  

  .userName{
    font-size: 1.2rem;
  }

.btnn{
  background-color: var(--secondary);
  color: #ffff;
}

.btnn:hover{
  background-color: var(--background);
  color: var(--secondary);
  border-color: var(--secondary);
}


  .pagination{
    margin-top: 30px;
  }

  .pagination a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}



.pagination a.prev,
.pagination a.next {
    background: linear-gradient(to right, #F9FFFE, #E7FFE0);

}

.pagination a.active {
    background-color: #96E3B9 ;
    color: white;
    
}

.pagination a:hover {
    background-color: #e0e0e0;
}


  @keyframes gradient-animation_2 {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(100%);
    }
  }



 