.register .loginContain .registerForm .sectionRigth {
  display: flex;
  border-top-right-radius: 12.43px;
  border-bottom-right-radius: 12.43px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}
.sectionRigth {
  background: #f6f7ff;
}

.register .loginContain .registerForm .sectionRigth h2 {
  text-align: center;
  font-size: 32px;
  color: #275c45;
}

.sectionRigth .rigth-img {
  width: 444px;
}
.register .loginContain .registerForm {
  border: 1px solid #25d366;
  border-radius: 12.43px;
}

@media (max-width: 790px) {
  .register .loginContain {
    justify-content: center;
  }

  .register .registerForm .sectionRigth {
    display: none !important;
  }

  .register .loginContain .registerForm {
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .register .loginContain .registerForm .sectionLeft {
    width: 95%;
  }
}

@media (max-width: 712px) {
  .register .loginContain .registerForm {
    width: 95%;
  }
}

.register .loginContain .registerForm .sectionLeft .line {
  width: 300px;
  height: 1px;
  background: rgb(119 119 119 / 24%);
  color: #25d366;
}

.errorMessage {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  margin-top: 5px;
  font-size: 0.875rem;
  white-space: nowrap;
}

.loginContain {
  max-width: 1200px;
  margin: 0 auto;
}

.registerForm {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
}

.leftTitle h2 {
  font-size: 28px;
  color: #333;
}

.label {
  bottom: 31px;
  left: 15px;
  padding: 0 5px;
  font-size: 14px;
  background-color: #fff;
  color: #666;
}
