<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-12">
          <div class="photo">
            <img src="/logo.svg" alt="logo" class="logo">
          </div>
        </div>
  
        <div class="col-lg-2 col-md-6 col-sm-6">
          <p class="title">Services</p>
          <ul class="list">
            <li>Browse Jobs</li>
            <li>Candidates</li>
            <li>Companies</li>
            <li>Pricing</li>
          </ul>
        </div>
  
        <div class="col-lg-2 col-md-6 col-sm-6">
          <p class="title">Company</p>
          <ul class="list">
            <li>About us</li>
            <li>FAQ’s</li>
            <li>Blogs</li>
            <li>Contact</li>
          </ul>
        </div>
  
        <div class="col-lg-2 col-md-6 col-sm-6">
          <p class="title">Support</p>
          <ul class="list">
            <li>Terms of use</li>
            <li>Privacy</li>
            <li>Conditions</li>
            <li>Cookie policy</li>
          </ul>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-6">
          <p class="title">News Letter</p>
          <ul class="list">
            <li>Join & get news regularly</li> 
          </ul>
          <div class="parent col-lg-3 col-md-6 col-sm-6">
            <input class="inputs" type="email" placeholder="Enter your email">
            <button class="SendBtn">Send</button>
          </div>
          <div class="social d-flex">
            <a routerLink="" class="link" href="https://www.linkedin.com/in/madonna-adel-" target="_blank" rel="noopener noreferrer">
              <img src="/Twitter.svg" alt="Twitter">
            </a>            
            <a routerLink="" class="link" href="https://www.linkedin.com/in/madonna-adel-" target="_blank" rel="noopener noreferrer">
              <img src="/Whatsapp.svg" alt="Whatsapp">
            </a>
            <a routerLink="" class="link" href="https://www.linkedin.com/in/madonna-adel-" target="_blank" rel="noopener noreferrer">
              <img src="/Vector.svg" alt="Instagram">
            </a>
            <a routerLink="" class="link" href="https://www.linkedin.com/in/madonna-adel-" target="_blank" rel="noopener noreferrer">
              <img src="/linkedin.svg" alt="LinkedIn">
            </a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-4 col-sm-12 text-center">
          <span class="copyright">
            Copyright © 2022. Careers. All rights reserved.
          </span>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-12 text-center">
          <span class="privacy">Privacy Policy</span>
          <span class="privacy">Terms & Conditions</span>
          <span class="privacy">Security</span>
        </div>
      </div>
    </div>
  </div>
  